{% extends 'base.html' %}
{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Register User Account</legend>
                {{ form }}
            </fieldset>
            <div >
                <button type="submit">Register</button>
            </div>
        </form>
        <div>
            <small>
                Have an account?<a href="$">Login</a>
            </small>
        </div>
    </div>
{% endblock %}